

<div class="question-summary narrow" id="question-summary">
	<div class="vote">
	    <input type="hidden" value="2328810">
	    <span class="vote-up-off" title="This answer is useful (click again to undo)"></span>
	    <span class="vote-count-post">2</span>
	    <span class="vote-down-off" title="This answer is not useful (click again to undo)"></span>
	<!--<span class="vote-accepted-on" title="The question owner accepted this as the best answer Feb 25 at 14:02"></span>
	-->
	</div>
    <div class="answer_summary">
        <h3> &nbsp<a href="#" class="question-hyperlink" title="# "><%=h answer.description%></a></h3>

        <div class="started">
            <a href="#" class="started-link"><span title="2010-10-26 01:29:43Z" class="relativetime">9s ago</span></a>
            <a href="#">提问者</a> 
        </div>
    </div> <!--sumary end -->

</div>
	<div class="answer_spacer"></div>




