<div id="content">
<div id="login" class="standard_form">
	
	<%= form_tag sessions_path do %>
	<h1>登录(没有帐号，现在<a href="/signup"> 注册 </a> 一个？)</h1>
	 <label for="login">
       用户名或者电子邮件地址<br>
	   <%= text_field_tag :login, params[:login] ,:class=>"text"%>
     </label>

	 <label for="password">
        密码
        <br>
		 <%= password_field_tag :password ,params[:password],:class=>"text"%>
      </label>

	  <label>
	        <%= submit_tag "登录" ,:class =>"input submit"%>
	  </label>
	<% end %>
 
</div>
</div>