/* Kill Defaults */

html, body, p, ul, ol, dl, li, h1, h2, h3, h4, img{
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

img	{
	border: 0;
}

a { color: #005481; margin: 0; padding: 0; text-decoration: none; }  
a:hover {text-decoration: underline; color: #de741d;}
	
.input_style {  
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
} 

/*
============================================
Layout
============================================
*/


body	{
	background: url(../images/background_solid.png);
	zoom:1;
	//border: 1px solid red;
}
#header{
	width: 1010px;
	height: 92px;
	background: url(../images/header_back.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	//border: 1px solid red;
}
#content, #content_sub {
	width:920px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 68px;
	//border: 1px solid red;
}
#content_sub {
	background-color: #ffffff;
	width: 1002px;
	margin-top: 0px;
	zoom: 1;
	
	border: 1px solid #999;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius: 10px 10px 10px 10px;
}
#content_sub_left {
	//border: 4px solid;
	width: 730px;
	float: left;
	background: url(../images/content_sub_right.png) right repeat-y;	
	//height: 1010px;

}
#content_sub_right {
	width: 272px;
	float: left;
	margin-top: 12px;
	//background-color: red;
}

#footer {
	width:920px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	zoom: 1;
	//border: 1px solid blue;
}
.clear {clear: both; display:hidden;}
.inactive {color: gray;}
/*
============================================
Header
============================================
*/
#header #logo{
	margin-left: 14px;
	margin-right: 0px;
	margin-top:33px;
	margin-bottom:23px;	
}


#header #search_box{
	position: absolute;
	height:50px;
	width:426px;
	background:#008cb1;
	left:176px;
	top:23px;
	bottom:25px;
	color:  red;
}
#header #search_input{
	border-style: none;
	position: absolute;
	height:30px;
	width:300px;
	background: url(../images/input_back.png) repeat-x;
	right:106px;
	left:14px;
	top:8px;
	bottom:11px;
}
#header #search_str{
	color:#ffffff;
	position: absolute;
	height:30px;
	width:50px;
	left:336px;
	bottom:8px;
	font-size: 1.4em;
	font-weight: bold;
}
#header #login_str, #logout_str, #settings_str, #header_links{
	color:#008cb1;
	position: absolute;
	height:30px;
	width:50px;
	right:20px;
	bottom:5px;;
	font-size: 1.3em;
	font-weight: bold;
}
#user_str{
	color:#008cb1;
	position: absolute;
	height:30px;
	width:50px;
	right:150px;
	bottom:5px;;
	font-size: 1.3em;
	font-weight: bold;
}
#search_result{
position: absolute;
border :1px solid gray;
border-top :0;
list-style-type: none;
margin: 0;
right:0px;
left:14px;
top:45px;
display: none;

}
.search_result_new_place{
background-color: #535758;
font-weight:bold;
color:#fff;
font-size: 16px;
padding :5px;
cursor: pointer;
}
.search_place_have_result{
background-color: #fff;
font-weight:bold;
color:#535758;
font-size: 16px;
padding :5px;
cursor: pointer;
}
.search_place_have_result:hover {
	background-color: #535758;	
	color:#fff;
}
/*
============================================
Footer
============================================
*/
#footer #reg{
	float: left;
	}
#footer #more{
	font-size: 1.4em;
	color:#000000;
	font-weight: bold;
	//border: 1px solid red;
	margin-top: 23px;
	margin-left: 38px;
	float: left;
	}
#footer #apps{
	float: right;
	margin-top: 13px;
	}
	
/*
============================================
Home
============================================
*/
#content #promo{
	width:916px;
	margin-left: auto;
	margin-right: auto;
	background-color: #7b8688;
	position: relative;
	float: left;
	clear: right;
	//border: 1px dotted;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px;

}
#content #promo_bottom{
	height:9px;
	width:908px;
	margin-left: 4px;
	margin-right: auto;
	position: relative;
	float: left;
	background: url(../images/promo_bottom_border.png) bottom repeat-x;
}
#promo #promo1{
	width:303px;
	float: left;
	background: url(../images/promo_left_border.png) left repeat-y;

}
#promo #promo2{
	width:301px;
	float: left;
	margin-left: 2px;
}
#promo #promo3{
	width:305px;
	float: right;
	background: url(../images/promo_right_border.png) right repeat-y;
}
#promo #promo1_img {
	background-color: #535758;
	width: 299px;
	height: 270px;
	margin-left: 4px;
}
#promo #promo2_img {
	background-color: #535758;
	width: 299px;
	height: 270px;
	margin-left: 2px;
}
#promo #promo3_img {
	background-color: #535758;
	width: 301px;
	height: 270px;
	margin-right: 4px;
	
}
#promo1_img img{
	margin-left: 39px;
	margin-top: 19px;
	} 
#promo2_img img{
	margin-left: 19px;
	margin-top: 6px;
	} 
#promo3_img img{
	margin-left: 16px;
	} 	
#promo h2 {
	height: 50px;
	background-color: #535758;
	color: #ffffff;
	//border: 1px solid red;
	padding-top: 17px;
}
#promo1 h2 {
	margin-left: 4px;
}
#promo2 h2 {
	margin-left: 2px;
}
#promo3 h2 {
	margin-right: 4px;
}
#promo h2  span {
	margin-left:auto;
	margin-right: auto;
	position: relative;	
	display: block;
	width: 200px;
	} 	

/*
============================================
Place list page
============================================
*/
#header #settings_str{
	color: #d9792c;
	font-size: 1.4em;
}
#header #header_links, #pl_nav{
	font-size: 1.4em;
}

#header #header_links{
	width:150px;
	right:130px;	
}
#header #header_links span{
	color: #018db1;
	margin-left: 10px;
	}
#pl_nav {
	width: 700px;
	//border: 1px dotted red;
	padding-top: 15px;
	padding-bottom: 15px;
}
#ql_nav {
	width: 700px;
	//border: 1px dotted red;
	padding-top: 20px;
	padding-left:40px;
	padding-bottom: 15px;
	float:left;
	font-size: 1.2em;
}
#pl_nav a:hover {text-decoration: none;}
#ql_nav a:hover {text-decoration: none;}
/*---- place/id page ----- */
#pl_header {
	width: 700px;
	height: 60px;
	//border: 1px dotted red;
	padding-top: 15px;
	padding-bottom: 15px;
	float :left;
}
#pl_header_promo{

	width: 60px;
	height:70px;
	background: url(../images/pl_header_promo.png) no-repeat center left;
	padding-top: 0px;
	padding-bottom: 15px;
	float :left;
}
#pl_header #place_icon{
	width: 50px;
	height:70px;
	//border: 1px dotted red;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left:50px;
	float:left;
}
.place_header_summary {
	margin-left: 20px;
	margin-right: 20px;
	padding-left:10px;
	padding-right :10px;
	height: 70px;
	width: 400px;
	//border: 1px dotted red;	
	float: left;
	}

#pl_header #follow_place {
	width: 20px;
	background: url(../images/follow_pl_icon.png) right no-repeat;
	//border: 1px dotted red;
	padding-left:20px;
	padding-top: 15px;
	padding-bottom: 15px;
	float:left;
}



#pl_items #question_items{
	width: 650px;
	//border: 1px dotted blue;
	padding-top: 15px;
	padding-bottom: 15px;
	//background-color: yellow;
}
/*
#pl_items div:hover{
	background-color :#f7f7f7;
}
#question_items div:hover{
	background-color :#f7f7f7;
}*/
#pl_nav span{
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 20px;
	}
#ql_nav span{
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 20px;
	}
.list_item {
	width: 670px;
	height: 70px;
	margin-left: 30px;
	//border: 1px dotted yellow;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url(../images/pl_ico.png) no-repeat center left;
}
.list_item_summary {
	margin-left: 100px;
	height: 70px;
	width: 400px;
	//border: 1px dotted red;	
	float: left;
	}
.list_item_title {
	width: 400px;
	height: 35px;
	font-size: 1.3em;
	font-weight: bold;
	//border: 1px dotted red;
}	
.list_item_desc {
	width: 380px;
	height: 35px;
	padding-left: 20px;
	//border: 1px dotted red;
	background: url(../images/map_ico.png) no-repeat top left;
}
.list_item .mark {
	float: right;
	}
#content_sub_right h3{
	margin-left: 8px;
}

#content_sub_right ul {
	margin-left: 24px;
	margin-top: 26px;
}	
#content_sub_right li {
	margin-bottom: 13px;
}
h3#q{
	margin-top: 72px;
}
span#place_list_active {
	color: #018db1;
	background: url(../images/place_list_active_bottom.png) bottom repeat-x;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
}

.question_list_active {
	color: #592068;
	background: url(../images/question_list_active_bottom.png) bottom repeat-x;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
}



/*
============================================
Place list page
============================================
*/
span#place_active {
	background: url(../images//place_active_bottom.png) bottom repeat-x;
	color: #5d1770;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 15px;
	}
div.spacer{
	width: 670px;
	height: 3px;
	margin-left: 15px;
	background-color: #55595a;
}
div#selected_place{
	margin-left: 15px;
}
.quesstion_item{
	margin-left: 72px;
	margin-bottom: 20px;
	width: 628px;
	//height: 100px;
	background: none;
	
	//background-color: red;
	
}
.quesstion_item_summary, .place_item_summary{
	width: 82px;
	background-color: #5d1770;
	color: #ffffff;
	float: left;
}
.place_item_summary{
	width: 98px;
	float: right;
}
.quesstion_item_summary td , .place_item_summary td{
	padding: 2px;
	text-align: center;
	font-weight: bold;
}
.quesstion{
	float: left;
	width: 400px;
	padding: 10px;
	height: 100px;
	border: 1px solid #d0d0d0;
}
.avatars{
	margin-top: 20px;
	width: 262px;
	height: 400px;
	margin-left: 4px;
	//background-color: red;
}
.avatar{
	float: left;
	border: 2px solid #ffffff;
}
/*
==================================
	common css
==================================
*/
.error_box{background:#FFEBE8 none repeat scroll 0;border:1px solid #DD3C10;padding:1em;font-weight:bold;}
.notice_box{background:#bfedc6 none repeat scroll 0;border:1px solid #539d31;padding:1em;font-weight:bold;}
.standard_form{width:500px;margin:3em auto 0 auto;background-color:#eaf2f5;padding:2em 2em 1em 2em;border:20px solid #ddd;
-webkit-border-top-right-radius: 8px;
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius: 8px 8px 8px 8px;

}
.standard_form .nothing-to-see-here{font-size:18px;font-weight:bold;color:#222;margin-top:0;}
.standard_form pre{font-size:13px;}
.standard_form h1{font-size:160%;margin-bottom:1em;}
.standard_form h1 a{font-size:70%;font-weight:normal;}
.standard_form h2{margin:0;}
.standard_form p{margin:.5em 0;}
.standard_form p.note{color:#a00;}
.standard_form form label,.standard_form form .label,label.standard{font-size:110%;color:#666;display:block;margin:0;margin-top:1em;}
.standard_form form label a{font-size:110%;}
.standard_form form label.error{color:#a00;}
.standard_form form .label label{margin:0;color:black;font-size:95%;}
.standard_form form .label span{font-size:90%;color:#888;}
.standard_form form input.text,.standard_form form textarea{padding:5px;border:1px solid #888;}
.standard_form form input.text{font-size:110%;width:25em;}
.standard_form form input.submit{
		clear:both;
		background-color:#008cb1;
		border:none;
		color:#fff;
		cursor: pointer;
		font-weight: normal;
		font-size: 16px;
		overflow: visible;
		padding: 6px 20px;
		text-align: center;
		margin:0,auto;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius: 4px 4px 4px 4px;
}
/* 
=========================================
   question list 
=========================================
*/

.ques_place_header{
padding: 11px 0px 11px 20px;
width:700px;
float:left;
border: 1px dotted #999;
background-color: #E8F2FF;
}
.summary h3{font-size:120%;}
.started-link,.started-link:visited{color:#999;}
.summary{float:left;width:350px;}
.narrow .summary{width:500px;}
.narrow .started{width:auto;line-height:inherit;padding-top:4px;white-space:nowrap;}
.started{width:185px;color:#999;float:left;line-height:18px;}
.narrow .stats{background:none;margin:0 0 0 7px;padding:0;width:auto;height:48px;float:left;}
.votes{color:#555;padding:0 0 7px 0;text-align:center;}
.narrow .votes{background:#eee;float:left;margin:0 3px 0 0;padding:5px;width:38px;height:38px;}
.status{margin-top:-3px;padding:4px 0 4px;text-align:center;}
.narrow .status{float:left;margin:0 3px 0 0;padding:5px;width:48px;height:38px;}
.status strong{color:#fff;display:block;font-size:100%;}
.answered{background:#75845C;color:#fff;}
.answered-accepted{background:#75845C;color:#E1E818;}
.answered-accepted strong{color:#E1E818;}
.unanswered {background: #9A4444;color: white;}
.question-summary {border-bottom: 0px dotted #999;float: left;overflow: hidden;padding: 11px 0px 5px 50px;width: 680px;}

.votes {color: #555;padding: 0px 0px 7px;text-align: center;}

.mini-counts {font-size: 130%;font-weight: bold;height: 25px;}
.answered-accepted {background: #75845C;color: #E1E818;}

/* new added */
.statscontainer {float: left;margin-right: 8px;width: 86px;}
.stats {background: #EEE;margin: 0px 0px 0px 7px;padding: 4px 7px 6px;width: 58px;}
.statsarrow {
background-position: 0px -435px;
float: right;
height: 13px;
margin-top: 12px;
width: 7px;
}
