		
<!--- place dialog form -->
	 <div aria-labelledby="ui-dialog-title-select_place_dialog" role="dialog" tabindex="-1" class="ui-dialog 
	  ui-widget ui-widget-content ui-corner-all  ui-draggable" style="display: none; z-index: 1000; outline: 0px none;">
	  <div style="-moz-user-select: none;" unselectable="on" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
	  	<span style="-moz-user-select: none;" unselectable="on" id="ui-dialog-title-select_place_dialog" class="ui-dialog-title">
	  		Select a Place</span>
	  	<a style="-moz-user-select: none;" unselectable="on" role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#">
	  	<span style="-moz-user-select: none;" unselectable="on" class="ui-icon ui-icon-closethick">
	  	close</span></a>
	  	</div>
	  	<div class="ui-dialog-content ui-widget-content" id="select_place_dialog" Title = "select a place for challenge" style="">
	<form action="javascript:void(0)" id="search_places" method="post">
		<div style="margin: 0pt; padding: 0pt; display: inline;">
			<input name="authenticity_token" value="te9hH9D7s/FYAvGqVCjU+hmyVlGa8+JckBL+lQiRDeM=" type="hidden">

		</div>    
		<div class="form_item">
	      <label for="search_places_name">Name</label>
	      <input id="search_places_name" name="search_places_name" type="text">
	    </div>
	    <div class="form_item">
	      <label for="search_places_address">Address</label>
	      <input id="search_places_address" name="search_places_address" type="text">
	    </div>
	    <input class="search_btn" name="commit" value="" type="submit">
	</form>
	  <div class="s_result">
	    <p>Enter a name and an address above. Hit search. Then select a result from the map below.</p>
	  </div>

	  <div class="s_result searching">
	    <p>Searching...</p>
	  </div>

	  <div class="s_result error">
	    <p><strong>No places found.</strong> Perhaps add a new place?</p>
	  </div>

	  <div class="s_result success" >
	    <p><strong><span>&nbsp;</span> places found.</strong> Select the correct one from below.</p>
	  </div>
	<div id="search_erea" style="float:left">

	  <div id="gmap_wrap" class="callout_wrap clear">
	    <div class="gray">
	      <div id="search-map"></div>
	    </div>
	  </div>
	<div class="place_list">
		<ul id = "place_result" style ="width:130px;">

		</ul>
	 </div>
	</div>
	<div class="save_place clear"> 
	    <a class="add_place_open" href="javascript:void(0)"></a> 
	  </div>  

	</div>
<!--- ask question dialog -->
<div aria-labelledby="ui-dialog-title-select_place_dialog" role="dialog" tabindex="-1" class="ui-dialog 
  ui-widget ui-widget-content ui-corner-all  ui-draggable" style="display: none; z-index: 1000; outline: 0px none;">
  <div style="-moz-user-select: none;" unselectable="on" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
  	<span style="-moz-user-select: none;" unselectable="on" id="ui-dialog-title-select_place_dialog" class="ui-dialog-title">
  		问个小问题：</span>
  	<a style="-moz-user-select: none;" unselectable="on" role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#">
  	<span style="-moz-user-select: none;" unselectable="on" class="ui-icon ui-icon-closethick">
  	close</span></a>
  	</div>

  <div class="ui-dialog-content ui-widget-content" id="ask_question_dialog" Title = "	问个小问题：" style="">		

       <div id="place_name_div" class="place_name_question_dialog">
          <input id="ask_question_place_id" type="hidden"></input>
          <span id="ask_question_place_name"></span>
           <span id = "points" styel ="float: right;">悬赏分数</span>
          <select id="question_points" width="40px" style="float: right;">
		<option value="volvo">5</option>
		<option value="saab">15</option>
		<option value="fiat">20</option>
	</select>
        </div>
       
         <textarea id="question_input" class="question_inputbox_dialog"> </textarea>
       
 </div>
</div>