<div id="header">
	    <a href="/" alt="回到主页">
		<%= image_tag "logo.png", :alt => "logo",
		                          :id => "logo" %>
		</a>
		<div id="search_box">
		<input id="search_input"  value="输入地点名称进行查询"><div id="search_str">搜索</div>
		<ul id="search_result"> </ul>
		</div>
		<%if !current_user %>
		<div id="login_str"><a href="/login"> 登录</a></div>
		<%else%>
		<div id="user_str"><a href="#"><%= current_user.name%></a> </div>
		<div id="logout_str"><a href="/logout"> 登出</a></div>
		<%end%>
</div><!-- header -->

<!---java script initialization -->
		<script type="text/javascript">
				  Lbsc2.Flash.setup();
		</script>
	
		<script>
		$(document).ready(function(){
			lbsc.initializeAdmin();
		
		 });
		 function authToken(){
		    return '<%= form_authenticity_token if protect_against_forgery? -%>';
		  }
		</script>


