<div id="content">
	<div id="promo">
	<div id="promo1">
			<div id="promo1_img">
				<a href ="place/hot">
				<%= image_tag "promo1.png", :alt => "logo",
				                          :id => "logo" %>
				</a>
				</div>
		<h2><span>探索你的城市</span></h2>
	</div>
	<div id="promo2">
			<div id="promo2_img"><img src="../images/promo2.png" alt="帮助有疑问的人" title="帮助有疑问的人" /></div>
		<h2><span>帮助有疑问的人</span></h2>
	</div>
	<div id="promo3">
			<div id="promo3_img"><img src="../images/promo3.png" alt="更可能获得奖励" title="更可能获得奖励" /></div>
		<h2><span>更可能获得奖励</span></h2>
	</div>	
	</div><!-- promo -->
	<div id="promo_bottom">
	</div>
	<div class="clear"> </div>
</div>
<div id="footer">
	    <a href="/signup">
		<img id="reg" src="../images/reg.png" alt="注册" title="注册" />
		</a>
		<a id="more" href="#">了解更多</a><img id="apps" src="../images/apps.png" alt="手机客户端" title="手机客户端" />
		<div class="clear"> </div>
</div>

