<!DOCTYPE html> 
<html class="ui-mobile portrait">
	<head> 
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<title>LBS@C</title> 
	 <%= stylesheet_link_tag "jquery.mobile-1.0a1" %>
	 <%= javascript_include_tag "jquery-1.4.3.min","jquery.mobile-1.0a1"%>
</head> 
<body> 

	<%= yield %>

</body>
</html>